{% extends "layout.html" %}



{% block title %}Contact Us | IEEE-VESIT{% endblock %}

{% block css %}
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/contact.css')}}">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
{% endblock %}

{% block content %}


     <script src="https://kit.fontawesome.com/d0c5f1e210.js" crossorigin="anonymous"></script>
     <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
     </script>
     <script type="text/javascript">
          (function () {
               emailjs.init("SvMFuXjnt51S2g6nI");
          })();
     </script>


     <div style="margin-top:30px ;">
          <center>
               <h1><b>Contact Us</b></h1>
               <hr>
          </center>

          <div class="cards center">
               <div class="card">
                    <img src="{{url_for('static', filename='images/contact_us_images/Vaibhavi1.jpeg')}}" class="card__image" alt="" />
                    <div class="card__overlay">
                         <div class="card__header">
                              <!-- <svg class="card__arc" xmlns="ghttp://www.w3.org/2000/sv">
                                   <path />
                              </svg> -->
                              <img class="card__thumb" src="{{url_for('static', filename='images/contact_us_images/Vaibhavi2.jpeg')}}"
                                   alt="" />
                              <div class="card__header-text">
                                   <h3 class="card__title">Vaibhavi Jadhav</h3>
                                   <span class="card__status">Chairperson</span>
                              </div>
                         </div>
                         <p class="card__description">
                              <i class="fa-solid fa-phone"></i>&nbsp &nbsp 9082717571 <br>
                              <i class="fa-solid fa-envelope" style="margin-top: 10px;"></i>&nbsp &nbsp
                              2019vaibhavi.jadhav@ves.ac.in
                         </p>
                    </div>
               </div>
               <div class="card">
                    <img src="{{url_for('static', filename='images/contact_us_images/Sheryl1.jpeg')}}" class="card__image" alt="" />
                    <div class="card__overlay">
                         <div class="card__header">
                              <!-- <svg class="card__arc" xmlns="ghttp://www.w3.org/2000/sv">
                                   <path />
                              </svg> -->
                              <img class="card__thumb" src="{{url_for('static', filename='images/contact_us_images/Sheryl2.jpeg')}}" alt="" />
                              <div class="card__header-text">
                                   <h3 class="card__title">Sheryl Bellary</h3>
                                   <span class="card__status">Secretary</span>
                              </div>
                         </div>
                         <p class="card__description">
                              <i class="fa-solid fa-phone"></i>&nbsp &nbsp 9869679027 <br>
                              <i class="fa-solid fa-envelope" style="margin-top: 10px;"></i>&nbsp &nbsp
                              2020.sheryl.bellary@ves.ac.in
                         </p>
                    </div>
               </div>
               <div class="card center">
                    <img src="{{url_for('static', filename='images/contact_us_images/Hitesh1.jpeg')}}" class="card__image" alt="" />
                    <div class="card__overlay">
                         <div class="card__header">
                              <!-- <svg class="card__arc" xmlns="ghttp://www.w3.org/2000/sv">
                                   <path />
                              </svg> -->
                              <img class="card__thumb" src="{{url_for('static', filename='images/contact_us_images/Hitesh2.jpeg')}}" alt="" />
                              <div class="card__header-text">
                                   <h3 class="card__title">Hitesh Kapure</h3>
                                   <span class="card__status">MPO</span>
                              </div>
                         </div>
                         <p class="card__description">
                              <i class="fa-solid fa-phone"></i>&nbsp &nbsp 9156841360 <br>
                              <i class="fa-solid fa-envelope" style="margin-top: 10px;"></i>&nbsp &nbsp
                              2020.hitesh.kapure@ves.ac.in
                         </p>
                    </div>
               </div>
               <div class="card">
                    <img src="{{url_for('static', filename='images/contact_us_images/Kesar1.jpeg')}}" class="card__image" alt="" />
                    <div class="card__overlay">
                         <div class="card__header">
                              <!-- <svg class="card__arc" xmlns="ghttp://www.w3.org/2000/sv">
                                   <path />
                              </svg> -->
                              <img class="card__thumb" src="{{url_for('static', filename='images/contact_us_images/Kesar2.jpeg')}}" alt="" />
                              <div class="card__header-text">
                                   <h3 class="card__title">Kesar Jotwani</h3>
                                   <span class="card__status">MPO</span>
                              </div>
                         </div>
                         <p class="card__description">
                              <i class="fa-solid fa-phone"></i>&nbsp &nbsp 9518926351 <br>
                              <i class="fa-solid fa-envelope" style="margin-top: 10px;"></i>&nbsp &nbsp
                              2020.kesar.jotwani@ves.ac.in
                         </p>
                    </div>
               </div>
     
          </div>
     </div>


     
          <center>
               <h2><b>OR</b></h2>
               <h1><b>Email Us</b></h1>
               <hr>
          </center>
          <div class="contact-in">
               <div class="contact-map">
                    <iframe
                         src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15085.675987384604!2d72.88022558518108!3d19.045306994697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8add9569a29%3A0xb7ad04bf9a389df7!2sVivekanand%20Education%20Society&#39;s%20Institute%20Of%20Technology%20(VESIT)!5e0!3m2!1sen!2sin!4v1672162695749!5m2!1sen!2sin"
                         width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy"
                         referrerpolicy="no-referrer-when-downgrade"></iframe>
               </div>
               <div class="contact-form">
                    <h1>Send Message</h1>
                    <form>
                         <input type="text" placeholder="Name" class="contact-form-txt" name="name" id="name">
                         <input type="text" placeholder="Contact No." class="contact-form-txt" name="contact"
                              id="contact">
                         <input type="email" placeholder="Email" class="contact-form-txt" name="email" id="email">
                         <textarea placeholder="Message" class="contact-form-textarea" name="message" id="message"></textarea>
                         <input type="submit" placeholder="Submit" class="contact-form-btn" onclick="sendMail()">
                    </form>
               </div>
          </div>
     </div>


     <script>
          function sendMail() {
               event.preventDefault();
               var parameters = {
                    name: document.getElementById("name").value,
                    contact: document.getElementById("contact").value,
                    email: document.getElementById("email").value,
                    message: document.getElementById("message").value,
               };
               var n1 = document.getElementById("name").value;
               var c1 = parseInt(document.getElementById("contact").value);
               var e1 = document.getElementById("email").value;
               var m1 = document.getElementById("message").value;
               var c_pattern = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
               var e_pattern =  /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;

               const serviceID = "service_legozf2";
               const templateID = "template_hbhvs8k";
               if (n1 == ""){
                    alert("Please enter your name.");
               } else if (c1 == "" || !c_pattern.test(c1)){
                    alert("Please provide valid Contact Number.")
               } else if(e1 == "" || !e_pattern.test(e1)){
                    alert("Please provide valid Email ID.")
               } else if(m1 == ""){
                    alert("You can't send Email without a Message")
               } else {
                    emailjs.send(serviceID, templateID, parameters).then((res) => {
                              document.getElementById("name").value = "";
                              document.getElementById("contact").value = "";
                              document.getElementById("email").value = "";
                              document.getElementById("message").value = "";
                              alert("Your message is sent Successfully")
                         }
                    ).catch((err) => console.log(err));
               }
          }
     </script>

{% endblock %}