{% extends "layout.html" %} {% block title %}Council | IEEE-VESIT{% endblock %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/style.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/council.css')}}"
/>

{% endblock %}
{% block content %}

    <!-- ------------------------------------ Faculty Incharges ------------------------------------  -->
    <div>
        <div>
            <center>
                <h1 class="titles"><b>Faculty Incharge</b></h1>
                <hr style="width: 200px; height: 3px; background-color: #000; border: 0px; border-radius: 2px;">
            </center>
        </div>
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/faculty/GreshaBhatia.jpg')}}" alt="">
                <div>
                    <div class="user_name">Gresha Bhatia</div>
                    <p class="skill">Faculty Incharge</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
    
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/faculty/AshwiniSawant.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Ashwini Sawant</div>
                    <p class="skill">Faculty Incharge</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                         <i class="fa fa-envelope"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------------------------------ Senior Council ------------------------------------  -->

    <div>
        <div>
            <center>
                <h1 class="titles"><b>Senior Council</b></h1>
                <hr style="width: 200px; height: 3px; background-color: #000; border: 0px; border-radius: 2px;">
            </center>
        </div>
    
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/CEO_WIE_Vaishnavi_Shetty.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Vaishnavi Shetty</div>
                    <p class="skill">CEO AND WIE</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                        <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                        
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">  
               <img src="{{url_for('static', filename='images/council_images/SC/SrTreasuer_Adwait_Shirodkar.jpg')}}" alt="">
                <div>
                    <div class="user_name">Adwait Shirodkar</div>
                    <p class="skill">Sr Treasurer</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrEditor_Akshata_Deshpande.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Akshata Deshpande</div>
                    <p class="skill">Sr Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/Chairperson_Vaibhavi_Jadhav.jpg')}}" alt="">
                <div>
                    <div class="user_name">Vaibhavi Jadhav</div>
                    <p class="skill">Chairperson</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrWebEditor_Adarsh_Panigrahi.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Adarsh Panigrahi</div>
                    <p class="skill">Sr Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrTab1_Sharvani_Swanat.jpg')}}" alt="">
                <div>
                    <div class="user_name">Sharvani Swanat</div>
                    <p class="skill">Sr Tab 1</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrTab2_Simran_Huddedar.jpg')}}" alt="">
                <div>
                    <div class="user_name">Simran Huddedar</div>
                    <p class="skill">Sr Tab 2</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------ Junior Council ------------------------------------  -->

    <div>
        <div>
            <center>
                <h1 class="titles"><b>Junior Council</b></h1>
                <hr style="width: 200px; height: 3px; background-color: #000; border: 0px; border-radius: 2px;">
            </center>
        </div>

        <!-- Grid 1 JR. Council -->
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Aditi_Bombe_Management_EO.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Aditi Bombe</div>
                    <p class="skill">Management EO</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Secretary_SherylBellary.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Sheryl Bellary</div>
                     <p class="skill">Secretary</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
             </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Aditya Nehete_Graphics EO.jpeg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Aditya Nehete</div>
                    <p class="skill">Graphics EO</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
        </div>

        <!-- Grid 2 JR. Council -->
        <div class="main center">
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Hitesh_Kapure_MPO Executive Officier.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Hitesh Kapure</div>
                     <p class="skill">MPEO</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/KESAR JOTWANI_MPO EXECUTIVE OFFICER.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Kesar Jotwani</div>
                    <p class="skill">MPEO</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Swapnil Sakpal_Jr. Treasurer.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Swapnil Sapkal</div>
                    <p class="skill">Treasurer</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>



        <!-- Grid 3 JR. Council -->
        <div class="main center">
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Vinit_Variyani_Jr_Editor.jpeg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Vinit Variyani</div>
                    <p class="skill">Jr. Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr_Editor_Surabhi_Tambe.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Surabhi Tambe</div>
                    <p class="skill">Jr. Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Kedar Gawhankar_Jr. Editor.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Kedar Gawhankar</div>
                     <p class="skill">Jr. Editor</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        </div>

        <!-- Grid 4 JR. Council -->
        <div class="main center"> 
        
            <div class="box center">
                <div>
                 <img src="{{url_for('static', filename='images/council_images/JC/Jr. Editor_AtharvaKale.jpg')}}" alt="" loading="lazy">
                      <div class="user_name">Atharva Kale</div>
                      <p class="skill">Jr. Editor</p>
                  </div>
                  <div class="arr_container center">
                      <i class="fas fa-arrow-right"></i>
                  </div>
                  <div class="left_container off">
                      <div class="icons">
                          <i class="fab fa-github"></i>
                          <i class="fab fa-linkedin"></i>
                           <i class="fa fa-envelope"></i>
                          <i class="fa fa-instagram"></i>
                      </div>
                      <div class="cancel center">            
                          <i class="fas fa-times"></i>
                      </div>
                  </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Mayuri Yerande_Jr Web Editor.jpeg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Mayuri Yerande</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
        
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
    
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr. Web Editor_Tanay Phatak.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Tanay Pathak</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>


        <!-- Grid 5 JR. Council -->
        <div class="main center">
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Varun Motiyani _Jr Web Editor_.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Varun Motiyani</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Aaman Bhowmick_Jr Editor.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Aaman Bhowmick</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr. TAB_Atharva_Nayak.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Atharva Nayak</div>
                    <p class="skill">Jr. Tab</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Grid 6 JR. Council -->
        <div class="main center">
            
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Jr TAB_Ayush.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Ayush Kotkar</div>
                     <p class="skill">Jr. Tab</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr. TAB_Omkar Mourya.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Omkar Mourya</div>
                    <p class="skill">Jr. Tab</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Soumya Chauhan_Jr. TAB.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Soumya Chauhan</div>
                    <p class="skill">Jr. Tab</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
        </div>
        
        <!-- Grid 7 JR. Council -->
        <div class="main center">
        
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Jr TAB_Ashutosh Deorukhkar.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Ashutosh Deorukhkar</div>
                     <p class="skill">Jr. Tab</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div> 
        
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Vaishnavi Amritwar_WIE.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Vaishnavi Amritwar</div>
                     <p class="skill">WIE</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/WIE_Riya Gorade.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Riya Gorade</div>
                    <p class="skill">WIE</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        
        
        
        
        
        
        
        
        
        <!-- Grid 8 JR. Council -->
        <div class="main center">
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/AditiMiniyar1_volunteer.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Aditi Miniyar</div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Ghanishtha Talele_Volunteer.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Ghanishtha Talele</div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Kimaya Nehete.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Kimaya Nehete</div>
                    <p class="skill">Volunteer</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <i class="fab fa-github"></i>
                        <i class="fab fa-linkedin"></i>
                         <i class="fa fa-envelope"></i>
                        <i class="fa fa-instagram"></i>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Grid 9 JR. Council -->
        <div class="main center">
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/icon.png')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Sahil Parab </div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
             </div>
             <div class="box center">
         
               <img src="{{url_for('static', filename='images/council_images/JC/Atharva_Gaonkar_Vol.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Atharva Goankar</div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                         <i class="fab fa-github"></i>
                         <i class="fab fa-linkedin"></i>
                          <i class="fa fa-envelope"></i>
                         <i class="fa fa-instagram"></i>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
             </div>
        </div>

    </div>


<script type="text/javascript" src="{{url_for('static', filename='js/council.js')}}"></script>

{% endblock %}
