{% extends "layout.html" %} {% block title %}Council | IEEE-VESIT{% endblock %}
{% block css %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/style.css')}}"
/>
<link
  rel="stylesheet"
  type="text/css"
  href="{{url_for('static', filename='css/council.css')}}"
/>

{% endblock %}
{% block content %}

    <!-- ------------------------------------ Faculty Incharges ------------------------------------  -->
    <div class="faculty">
        <div  style="margin-top:30px;">
            <center data-aos="zoom-in">
                <h1><b>Faculty Incharge</b></h1>
                <hr>
                <hr style="width: 200px; height: 3px; background-color: #000; border: 0px; border-radius: 2px;">
            </center>
        </div>
        <div class="main center" data-aos="zoom-in-up">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/faculty/GreshaBhatia.jpg')}}" alt="">
                <div>
                    <div class="user_name">Gresha Bhatia</div>
                    <p class="skill">Faculty Incharge</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="mailto:"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
    
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/faculty/AshwiniSawant.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Ashwini Sawant</div>
                    <p class="skill">Faculty Incharge</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="mailto:"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- ------------------------------------ Senior Council ------------------------------------  -->

    <div>
        <div>
            <center data-aos="zoom-in">
                <h1><b>Senior Council</b></h1>
                <hr>
            </center>
        </div>
    
        <div class="main center" data-aos="zoom-in-up">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/CEO_WIE_Vaishnavi_Shetty.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Vaishnavi Shetty</div>
                    <p class="skill">CEO AND WIE</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href=""> <i class="fab fa-github"></i></a>
                        <a href=""> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/_shetty_vaishnavi?igshid=YmMyMTA2M2Y= "> <i class="fab fa-instagram"></i></a>
                        
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">  
               <img src="{{url_for('static', filename='images/council_images/SC/SrTreasuer_Adwait_Shirodkar.jpg')}}" alt="">
                <div>
                    <div class="user_name">Adwait Shirodkar</div>
                    <p class="skill">Sr Treasurer</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="2019adwait.shirodkar@ves.ac.in"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/adwait-shirodkar"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:https://github.com/AkumaO79"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/akumao_79/"> <i class="fab fa-instagram"></i></a>
                        
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrEditor_Akshata_Deshpande.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Akshata Deshpande</div>
                    <p class="skill">Sr Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href=""> <i class="fab fa-github"></i></a>
                        <a href=""> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:"> <i class="fa-solid fa-envelope"></i></a>
                        <a href=""> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="main center" data-aos="zoom-in">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/Chairperson_Vaibhavi_Jadhav.jpg')}}" alt="">
                <div>
                    <div class="user_name">Vaibhavi Jadhav</div>
                    <p class="skill">Chairperson</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/vaibhavijadhav27"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/mwlite/in/vaibhavi-jadhav-4423331b6"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2019vaibhavi.jadhav@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/yourveere?igshid=OGQ2MjdiOTE="> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrWebEditor_Adarsh_Panigrahi.jpeg')}}" alt="">
                <div>
                    <div class="user_name">Adarsh Panigrahi</div>
                    <p class="skill">Sr Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/Adarsh2720"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/adarsh-panigrahi-3192071a9/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2019adarsh.panigrahi@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/_adarsh_2720/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrTab1_Sharvani_Swanat.jpg')}}" alt="">
                <div>
                    <div class="user_name">Sharvani Swanat</div>
                    <p class="skill">Sr Tab 1</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="github.com/sharvani22"> <i class="fab fa-github"></i></a>
                        <a href="linkedin.com/in/sharvani-sawant-808a23191"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2019sharvani.sawant@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/sharvanivs_?igshid=YmMyMTA2M2Y= "> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/SC/SrTab2_Simran_Huddedar.jpg')}}" alt="">
                <div>
                    <div class="user_name">Simran Huddedar</div>
                    <p class="skill">Sr Tab 2</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/simranhuddedar03 "> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/simran-huddedar-46a99a202/ "> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2019simran.huddedar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></i></a>
                     
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ------------------------------------ Junior Council ------------------------------------  -->

    <div>
        <div>
            <center>
                <h1><b>Junior Council</b></h1>
                <hr>
            </center>
        </div>

        <!-- Grid 1 JR. Council -->
        <div class="main center">
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Aditi_Bombe_Management_EO.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Aditi Bombe</div>
                    <p class="skill">Management EO</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/Adiitii05"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/aditi-bombe-0a6779217/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.aditi.bombe@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/adiitii_05/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Secretary_SherylBellary.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Sheryl Bellary</div>
                     <p class="skill">Secretary</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/bellarysheryl"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sheryl-bellary"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.sheryl.bellary@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/bellarysheryl"> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
             </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Aditya Nehete_Graphics EO.jpeg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Aditya Nehete</div>
                    <p class="skill">Graphics EO</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href=" https://github.com/Adityaa-15"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/aditya-nehete-392b0122b/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.aditya.nehete@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/aadi_nehete_15/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
        </div>

        <!-- Grid 2 JR. Council -->
        <div class="main center">
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Hitesh_Kapure_MPO Executive Officier.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Hitesh Kapure</div>
                     <p class="skill">MPEO</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://www.linkedin.com/in/hitesh-kapure-41711a207"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.hitesh.kapure@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/hitesh_kapure_69?igshid=OGQ2MjdiOTE="> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/KESAR JOTWANI_MPO EXECUTIVE OFFICER.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Kesar Jotwani</div>
                    <p class="skill">MPEO</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/Kesarjotwani"> <i class="fab fa-github"></i></a>
                        <a href="mailto:d2020.kesar.jotwani@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/ksrrjotwanii?igshid=OGQ2MjdiOTE="> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Swapnil Sakpal_Jr. Treasurer.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Swapnil Sapkal</div>
                    <p class="skill">Treasurer</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/Swapnil0803"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/swapnil-sakpal-07642622b/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.swapnil.sakpal@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/s.w.a.p.n.i.l.s.a.k.p.a.l/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>



        <!-- Grid 3 JR. Council -->
        <div class="main center">
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Vinit_Variyani_Jr_Editor.jpeg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Vinit Variyani</div>
                    <p class="skill">Jr. Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/VinitVV"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/vinit-v-32821625a "> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.vinit.variyani@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/_vinit_v_v"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr_Editor_Surabhi_Tambe.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Surabhi Tambe</div>
                    <p class="skill">Jr. Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/Surabeee"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/surabhi-tambe-9526b322b"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.Surabhi.tambe@ves.ac.in"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/surabhiitambe/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Kedar Gawhankar_Jr. Editor.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Kedar Gawhankar</div>
                     <p class="skill">Jr. Editor</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/Kedar1703"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kedar-gawhankar-662326233"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.kedar.gawhankar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/__k.e.d.a.r__0614/"> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        </div>

        <!-- Grid 4 JR. Council -->
        <div class="main center"> 
        
            <div class="box center">
                <div>
                 <img src="{{url_for('static', filename='images/council_images/JC/Jr. Editor_AtharvaKale.jpg')}}" alt="" loading="lazy">
                      <div class="user_name">Atharva Kale</div>
                      <p class="skill">Jr. Editor</p>
                  </div>
                  <div class="arr_container center">
                      <i class="fas fa-arrow-right"></i>
                  </div>
                  <div class="left_container off">
                      <div class="icons">
                        <a href="https://github.com/Atharva-Kale"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/atharva-kale-9b0414209/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.atharva.r.kale@ves.ac.in"><i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/ak17002/"> <i class="fab fa-instagram"></i></a>
                      </div>
                      <div class="cancel center">            
                          <i class="fas fa-times"></i>
                      </div>
                  </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Mayuri Yerande_Jr Web Editor.jpeg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Mayuri Yerande</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
        
                    <div class="icons">
                        <a href="https://github.com/mayuriyerande"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/mayuri-yerande-527327233"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.mayuri.yerande@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/mayuri.yerande/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
    
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr. Web Editor_Tanay Phatak.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Tanay Pathak</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/TanayPhatak"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/mwlite/in/tanay-phatak-bb281a1b4"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.tanay.phatak@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/tanayp21/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>


        <!-- Grid 5 JR. Council -->
        <div class="main center">
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Varun Motiyani _Jr Web Editor_.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Varun Motiyani</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/VarunMotiyani"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/varun-motiyani-a31633195/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.varun.motiyani@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/varun.m14/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Aaman Bhowmick_Jr Editor.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Aaman Bhowmick</div>
                    <p class="skill">Jr. Web Editor</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/AamanBhowmick"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/aaman-bhowmick-66891221a/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.aaman.bhowmick@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/_aaa_man_?igshid=NTA5ZTk1NTc="> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr. TAB_Atharva_Nayak.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Atharva Nayak</div>
                    <p class="skill">Jr. Tab</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
           
                        <a href="http://www.linkedin.com/in/atharva-nayak-a3772119b"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:d2020.atharva.nayak@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/t_h_a_r_v_o_n_?igshid=NTA5ZTk1NTc="> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- Grid 6 JR. Council -->
        <div class="main center">
            
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Jr TAB_Ayush.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Ayush Kotkar</div>
                     <p class="skill">Jr. Tab</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/AyushKotkar"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ayush-kotkar-0321bb215"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.ayush.kotkar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/ayushkotkar89/"> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Jr. TAB_Omkar Mourya.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Omkar Mourya</div>
                    <p class="skill">Jr. Tab</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/rakmo212"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/omkar-maurya-374483226"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.omkar.mourya@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/omkar_m2/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Soumya Chauhan_Jr. TAB.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Soumya Chauhan</div>
                    <p class="skill">Jr. Tab</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://www.linkedin.com/mwlite/in/soumya-singh-chauhan-aa8a1820a"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.soumya.chauhan@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/esoteric_1604/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        
        </div>
        
        <!-- Grid 7 JR. Council -->
        <div class="main center">
        
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Jr TAB_Ashutosh Deorukhkar.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Ashutosh Deorukhkar</div>
                     <p class="skill">Jr. Tab</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/Ashutosh-254"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ashutosh-deorukhkar/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.ashutosh.deorukhkar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/asshhhuuu_04/"> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div> 
        
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Vaishnavi Amritwar_WIE.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Vaishnavi Amritwar</div>
                     <p class="skill">WIE</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://www.linkedin.com/in/vaishnavi-amritwar-03037a256/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.vaishnavi.amritwar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/vaishnavi_amrit/"> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/WIE_Riya Gorade.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Riya Gorade</div>
                    <p class="skill">WIE</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/r1ya-11"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/riya-gorade-aa3839243/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:d2020.riya.gorade@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/yeuxderi/"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>

        
        
        
        
        
        
        
        
        
        <!-- Grid 8 JR. Council -->
        <div class="main center">
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/AditiMiniyar1_volunteer.jpg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Aditi Miniyar</div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/adiii03"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/aditi-miniyar-028316233"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.aditi.miniyar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/adiiti.m03?igshid=YmMyMTA2M2Y="> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/Ghanishtha Talele_Volunteer.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Ghanishtha Talele</div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/Ghanishtha09"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/ghanishtha-talele-515262233"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.ghanishtha.talele@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://instagram.com/ghanishtha_09?igshid=YmMyMTA2M2Y="> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
            </div>
        
            <div class="box center">
               <img src="{{url_for('static', filename='images/council_images/JC/Kimaya Nehete.jpg')}}" alt="" loading="lazy">
                <div>
                    <div class="user_name">Kimaya Nehete</div>
                    <p class="skill">Volunteer</p>
                </div>
                <div class="arr_container center">
                    <i class="fas fa-arrow-right"></i>
                </div>
                <div class="left_container off">
                    <div class="icons">
                        <a href="https://github.com/kimaya0202"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/kimaya-nehete-122650241/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:kimayanehete@gmail.com"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/kimayanehete/?next=%2F"> <i class="fab fa-instagram"></i></a>
                    </div>
                    <div class="cancel center">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Grid 9 JR. Council -->
        <div class="main center">
            <div class="box center">
                <img src="{{url_for('static', filename='images/council_images/JC/icon.png')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Sahil Parab </div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/ItsSawhill"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/sahil-parab-851109219/"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.sahil.parab@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
            
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
             </div>
             <div class="box center">
         
               <img src="{{url_for('static', filename='images/council_images/JC/Atharva_Gaonkar_Vol.jpeg')}}" alt="" loading="lazy">
                 <div>
                     <div class="user_name">Atharva Goankar</div>
                     <p class="skill">Volunteer</p>
                 </div>
                 <div class="arr_container center">
                     <i class="fas fa-arrow-right"></i>
                 </div>
                 <div class="left_container off">
                     <div class="icons">
                        <a href="https://github.com/AtharvGaonkar"> <i class="fab fa-github"></i></a>
                        <a href="https://www.linkedin.com/in/atharv-gaonkar-076a00248"> <i class="fab fa-linkedin"></i></a>
                        <a href="mailto:2020.atharv.gaonkar@ves.ac.in"> <i class="fa-solid fa-envelope"></i></a>
                        <a href="https://www.instagram.com/its_a_tharv/"> <i class="fab fa-instagram"></i></a>
                     </div>
                     <div class="cancel center">
                         <i class="fas fa-times"></i>
                     </div>
                 </div>
             </div>
        </div>

    </div>


<script type="text/javascript" src="{{url_for('static', filename='js/council.js')}}"></script>

{% endblock %}
