{% extends "layout.html" %}


{% block title %}Events | IEEE-VESIT{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/events.css')}}">
{% endblock %}
{% block content %}
<div class="row">
<div class="main-container">
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/Events/arcade.png')}}">
      </div>
      <div class="contentBx">
        <h2>IEEE Arcade</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
          
        </div>
        <a href="#">Details</a>
      </div>
    </div>
  </div>

  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/Events/caseclosed.png')}}">
      </div>
      <div class="contentBx">
        <h2>Case Closed</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="/details/tableau">Details</a>
      </div>
    </div>
  </div>
  
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/Events/tresurehunt.png')}}">
      </div>
      <div class="contentBx">
        <h2>Tresure Hunt</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="/details/pygame">Details</a>
      </div>
    </div>
  </div>
  
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/Events/spacerobo.png')}}">
      </div>
      <div class="contentBx">
        <h2>Space Robotics</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="#">Details</a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="main-container">
  

    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/vesittank.png')}}">
        </div>
        <div class="contentBx">
          <h2>VESIT Tank</h2>
          <div class="size">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          </div>
          <div class="color">
          </div>
          <a href="/details/tableau">Details</a>
        </div>
      </div>
    </div>
    

    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/essaywriting.png')}}">
        </div>
        <div class="contentBx">
          <h2>Essay writing competition</h2>
          <div class="size">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          </div>
          <div class="color">
            
          </div>
          <a href="#">Details</a>
        </div>
      </div>
    </div>
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/womenday.png')}}">
        </div>
        <div class="contentBx">
          <h2>Women's Day Trivia</h2>
          <div class="size">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          </div>
          <div class="color">
          </div>
          <a href="/details/pygame">Details</a>
        </div>
      </div>
    </div>
   
    </div>
  </div>
  </div>

{% endblock %}