{% extends "layout.html" %}


{% block title %}Events | IEEE-VESIT{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/events.css')}}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="main-container">
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/arcade.png')}}">
        </div>
        <div class="contentBx">
          <h2>IEEE Arcade</h2>
          <div class="size">
            <h3>Join us in a trip to your childhood as we take you through a collection of nostalgic games because IEEE is all about perfect balance between fun and studies!</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/caseclosed.png')}}">
        </div>
        <div class="contentBx">
          <h2>Case Closed</h2>
          <div class="size">
            <h3>Inspired from the movie Matrix, step into the roles of Neo, Trinity, and Morpheus to test whether you’ll make it out of The Matrix in time or will be stuck in it forever?</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="/details/tableau">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/spacerobo.png')}}">
        </div>
        <div class="contentBx">
          <h2>Space Robotics</h2>
          <div class="size">
            <h3>Expand your knowledge about the world beyond the bounds of our globe with IEEE’S Space Robotics Seminar.  It’s 𝒂𝒃𝒐𝒖𝒕 𝒉𝒐𝒘 𝒓𝒐𝒃𝒐𝒕𝒊𝒄𝒔 𝒊𝒔 𝒅𝒓𝒂𝒔𝒕𝒊𝒄𝒂𝒍𝒍𝒚 𝒊𝒎𝒑𝒂𝒄𝒕𝒊𝒏𝒈 𝒕𝒉𝒆 𝒔𝒑𝒂𝒄𝒆 𝒊𝒏𝒅𝒖𝒔𝒕𝒓𝒚?</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/tresurehunt.png')}}">
        </div>
        <div class="contentBx">
          <h2>Tresure Hunt</h2>
          <div class="size">
            <h3>Be the master of time with our most awaited event of the year! A 24-hour long Online Treasure Hunt that prepares you for an epic and challenging adventure!</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="/details/pygame">Details</a> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!--  -->
<!--  -->
<div class="row">
  <div class="main-container">
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/vesittank.png')}}">
        </div>
        <div class="contentBx">
          <h2>VESIT Tank</h2>
          <div class="size">
            <h3>IEEE presents to you an in-house Shark Tank experience that is judged by founders of successful startups to pitch your unique startup ideas and how well will they work in real life.</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="/details/tableau">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/womenday.png')}}">
        </div>
        <div class="contentBx">
          <h2>Women's Day Trivia</h2>
          <div class="size">
            <h3>Bring your smarts to the table as you participate in IEEE’S Women’s Day Trivia to answer various questions about Women and STEM and win assured prizes!</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="/details/pygame">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/Events/essaywriting.png')}}">
        </div>
        <div class="contentBx">
          <h2>Essay writing competition</h2>
          <div class="size">
            <h3>𝐓𝐡𝐢𝐬 𝐢𝐬 𝐭𝐡𝐞 𝐭𝐢𝐦𝐞 𝐟𝐨𝐫 𝐲𝐨𝐮 𝐚𝐥𝐥 𝐭𝐨 𝐟𝐥𝐚𝐮𝐧𝐭 𝐲𝐨𝐮𝐫 𝐰𝐫𝐢𝐭𝐢𝐧𝐠 𝐬𝐤𝐢𝐥𝐥𝐬 𝐚𝐧𝐝 𝐰𝐢𝐧 𝐚𝐦𝐚𝐳𝐢𝐧𝐠 𝐩𝐫𝐢𝐳𝐞𝐬 by writing impactful essays to celebrate the women in STEM.</h3>
          </div>
          <div class="color">

          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
</div>

{% endblock %}