
{% extends "layout.html" %}

{% block title %}IEEE-VESIT{% endblock %}

{% block css %}
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}


{% block content %}
  
  	
<div class="center" data-aos="zoom-in">
	<div class="slideshow-container">
		<!-- Full-width images with number and caption text -->
		<div class="mySlides fade">
		<img src="{{url_for('static', filename='images/home_image/A1.jpg')}}" style="width:100%">
		</div>
	
		<div class="mySlides fade">
		<img src="{{url_for('static', filename='images/home_image/A2.jpg')}}" style="width:100%">
		</div>
	
		<div class="mySlides fade">
		<img src="{{url_for('static', filename='images/home_image/A3.jpg')}}" style="width:100%">
		</div>
	
		<!-- Next and previous buttons -->
		<!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
		<a class="next" onclick="plusSlides(1)">&#10095;</a> -->
	</div>
</div>


<div class="container">


	<!-- ------------------------------------ About Us ------------------------------------  -->
	<div class="about" data-aos="fade-up">


		<center>
			<h1><b>ABOUT US</b></h1>
			<hr>
	   </center>
		<div class="main">
			<div class="card">
				<h3 class="head1">IEEE</h3>
				<p class="para"> The
					<strong>Institute of Electrical and Electronics Engineers (IEEE)</strong>
					is a professional association for electronic and electrical engineering.
					It was formed in 1963 withthe amalgamation
					of the American Institute of Electrical Engineers and the Institute
					of Radio Engineers.Its objectives are the educational and technical
					advancement of electrical and electronic engineering,
					telecommunications, computer engineering and allied
					disciplines.</span>
				</p>
			</div>
			<div class="card">
				<h3 class="head1">IEEE-VESIT</h3>
				<p class="para">
					<strong>IEEE-VESIT</strong> is the student branch of the IEEE Mumbai section, having
					over 1000 student members. Sailing through smoothly as ever, our
					motto "Excellence through Innovation" keeps the mast high as we
					transform students into technically sound professionals by
					conducting quality workshops, competitions and events for our
					members every year.
				</p>
			</div>
		</div>


	</div>

<!-- What we do    -->
<center>
	<h1><b>WHAT WE DO?</b></h1>
	<hr>
</center>
<div class="reviewers">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTc5ODc1NTM4NjMyOTc2Mzcz/gettyimages-693134468.jpg">
                <h3>Tom Cruise</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTgxMjQ5NDUyMjMxNjk3NzY4/gettyimages-492532708-copy.jpg">
                <h3>Vin Diesel</h3>
            </div>
        </div>
		<div class="row">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTc5ODc1NTM4NjMyOTc2Mzcz/gettyimages-693134468.jpg">
                <h3>Tom Cruise</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTgxMjQ5NDUyMjMxNjk3NzY4/gettyimages-492532708-copy.jpg">
                <h3>Vin Diesel</h3>
            </div>
        </div>
    </div>
</div>

<center>
	<!-- <h1 style="font-size:45px;"><b>UP-COMMING EVENTS</b></h1>   style="width: 200px; height: 3px; background-color: #000; border: 0px; border-radius: 2px;" -->
	<h1><b>UP-COMMING EVENTS</b></h1>
	<hr>
</center>
	<div data-aos="fade-up">

		
		<div class="events center" >
			<img src="{{url_for('static', filename='images/home_image/current_event.png')}}" alt="">
		</div>
	</div>
<!--  testimonial    -->
<center>
	<h1><b>TESTIMONIALS</b></h1>
	<hr>
</center>
<div class="reviewers">
    <div class="small-container">
		<div class="row-rev">
        <div class="row">
			<div id="row-rev-1">
            <div class="col-3" ">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTc5ODc1NTM4NjMyOTc2Mzcz/gettyimages-693134468.jpg">
                <h3>Tom Cruise</h3>
            </div>
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTgxMjQ5NDUyMjMxNjk3NzY4/gettyimages-492532708-copy.jpg">
                <h3>Vin Diesel</h3>
            </div>
		</div>
		<div id="row-rev-1">
            <div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTIwNjA4NjM0MDYyNTM4MjUy/johnny-depp-9542522-1-402.jpg">
                <h3>Johnny Depp</h3>
            </div>
			<div class="col-3">
                <i class="fa fa-quote-left"></i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                
                <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTIwNjA4NjM0MDYyNTM4MjUy/johnny-depp-9542522-1-402.jpg">
                <h3>Johnny Depp</h3>
            </div>
		</div>
		</div>
        </div>
    </div>
</div>
</div>


		<script type="text/javascript" src="{{url_for('static', filename='js/home_script.js')}}"></script>
	</div>


{% endblock %}