{% extends "layout.html" %}


{% block title %}Magazines | IEEE-VESIT{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/magazine.css')}}">
{% endblock %}
{% block content %}
<div class="row">
<div class="main-container">
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/magazines/innovation18.jpeg')}}">
      </div>
      <div class="contentBx">
        <h2>Innovation 2018-19</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="https://drive.google.com/file/d/1XIrAGCU6C0NZHS1CZLxNhDHsTX2m_cNL/view?usp=sharing" target="_blank">Download</a>
      </div>
    </div>
  </div>
 
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/magazines/innovation19.jpeg')}}">
      </div>
      <div class="contentBx">
        <h2>Innovation 2019-20</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="" target="_blank">Download</a>
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/magazines/innovation20.png')}}">
      </div>
      <div class="contentBx">
        <h2>Innovation 2020-21</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
          
        </div>
        <a href="https://drive.google.com/file/d/1AI_DJ8yaHLymAY2r2tImWaBDpLtWhiKe/view?usp=sharing" target="_blank">Download</a>
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/magazines/innovation21.png')}}">
      </div>
      <div class="contentBx">
        <h2>Innovation 2021-22</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="https://drive.google.com/file/d/1_wbkDOQJ_Mp1TcnZ6JsKXx4Hev7XwgBX/view?usp=sharing" target="_blank">Download</a>
      </div>
    </div>
  </div>
</div>
</div>

   


  </div>
  </div>
  

{% endblock %}