{% extends "layout.html" %}


{% block title %}Magazines | IEEE-VESIT{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/magazine.css')}}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="main-container">
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/magazines/innovation21.png')}}">
        </div>
        <div class="contentBx">
          <h2>Innovation 2021-22</h2>
          <div class="size">
            <h3>Super - Intelligence Technology, Empowering People with A.I.</h3>
          </div>
          <div class="color">
          </div>
          <a href="https://drive.google.com/file/d/16aB0c0oS8fxDa5e20DL4KkPF7zBdyKGF/view?usp=share_link"
            target="_blank">Download</a>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/magazines/innovation20.png')}}">
        </div>
        <div class="contentBx">
          <h2>Innovation 2020-21</h2>
          <div class="size">
            <h3>Space - Exploration & Technology</h3>
          </div>
          <div class="color">

          </div>
          <a href="https://drive.google.com/file/d/136vHgcruqerWUfv8OtsM7XeDSit9Lai0/view?usp=share_link"
            target="_blank">Download</a>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/magazines/innovation19.jpeg')}}">
        </div>
        <div class="contentBx">
          <h2>Innovation 2019-20</h2>
          <div class="size">
            <h3>Augmented Reality- Where dreams meet reality</h3>
          </div>
          <div class="color">
          </div>
          <a href="https://drive.google.com/file/d/1afFrKyQkYj6zWwfGcV5udZsAZ6Y2oUk4/view?usp=share_link" target="_blank">Download</a>
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/magazines/innovation18.jpeg')}}">
        </div>
        <div class="contentBx">
          <h2>Innovation 2018-19</h2>
          <div class="size">
            <h3>Cryptocurrency-"It all comes down to binary currency"</h3>
          </div>
          <div class="color">
          </div>
          <a href="https://drive.google.com/file/d/1ZcCOX5y05JccywfR3ASuZ3TtxT0eKEhb/view?usp=share_link"
            target="_blank">Download</a>
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!--  -->
<!--  -->


{% endblock %}