{% extends "layout.html" %}


{% block title %}Workshops | IEEE-VESIT{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/events.css')}}">
{% endblock %}
{% block content %}
<div class="row">
  <div class="main-container">
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/pygame.png')}}">
        </div>
        <div class="contentBx">
          <h2>PyGame</h2>
          <div class="size">
            <h3>Right from basics to game development, IEEE got you covered! A workshop that teaches you to build a snake game from scratch.</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="/details/pygame">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/tableau.png')}}">
        </div>
        <div class="contentBx">
          <h2>Tableau</h2>
          <div class="size">
            <h3>A beginner-friendly workshop that teaches you to visualise and manage data, that too with coding!</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="/details/tableau">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/blockchain.png')}}">
        </div>
        <div class="contentBx">
          <h2>BlockChain</h2>
          <div class="size">
            <h3>𝐂𝐫𝐲𝐩𝐭𝐨𝐜𝐮𝐫𝐫𝐞𝐧𝐜𝐲 𝐭𝐫𝐚𝐧𝐬𝐚𝐜𝐭𝐢𝐨𝐧𝐬, 𝐍𝐅𝐓 𝐎𝐰𝐧𝐞𝐫𝐬𝐡𝐢𝐩, 𝐃𝐞𝐅𝐢 𝐒𝐦𝐚𝐫𝐭 𝐜𝐨𝐧𝐭𝐫𝐚𝐜𝐭𝐬. IEEE got you covered from general information to implementation.</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/cybersecurity.png')}}">
        </div>
        <div class="contentBx">
          <h2>Cyber Security</h2>
          <div class="size">
            <h3>Get onboard and develop an understanding of cybersecurity, its principles, technologies, and procedures used to defend networks and use the knowledge to solve Hack The Box problems.</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!--  -->
<!--  -->
<div class="row">
  <div class="main-container">
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/middleware.png')}}">
        </div>
        <div class="contentBx">
          <h2>Middleware</h2>
          <div class="size">
            <h3>In this workshop, you will learn how to create a full-stack application in which you can specify the routes and get the response according to the mentioned route, for example a news app.</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/UIUX.png')}}">
        </div>
        <div class="contentBx">
          <h2>UI/UX</h2>
          <div class="size">
            <h3>A workshop combining User Interface (UI) and User Experience (UX). Right from general information to implementation, you’ll get to learn everything that revolves around UI/UX.</h3>
          </div>
          <div class="color">
          </div>
          <!-- <a href="#">Details</a> -->
        </div>
      </div>
    </div>
    <!--  -->
  </div>
</div>
<!--  -->
<!--  -->

{% endblock %}