{% extends "layout.html" %}


{% block title %}Workshops | IEEE-VESIT{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/events.css')}}">
{% endblock %}
{% block content %}
<div class="row">
<div class="main-container">
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/workshops/tableau.png')}}">
      </div>
      <div class="contentBx">
        <h2>Tableau</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="/details/tableau">Details</a>
      </div>
    </div>
  </div>
 
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/workshops/pygame.png')}}">
      </div>
      <div class="contentBx">
        <h2>PyGame</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="/details/pygame">Details</a>
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/workshops/UIUX.png')}}">
      </div>
      <div class="contentBx">
        <h2>UI/UX</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
          
        </div>
        <a href="#">Details</a>
      </div>
    </div>
  </div>
  <div class="container1">
    <div class="card">
      <div class="imgBx">
        <img src="{{url_for('static', filename='images/workshops/middleware.png')}}">
      </div>
      <div class="contentBx">
        <h2>E-bulletin Via Middleware</h2>
        <div class="size">
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
        </div>
        <div class="color">
        </div>
        <a href="#">Details</a>
      </div>
    </div>
  </div>
</div>
</div>









<div class="row">
  <div class="main-container">
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/cybersecurity.png')}}">
        </div>
        <div class="contentBx">
          <h2>Cyber Security</h2>
          <div class="size">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          </div>
          <div class="color">
          </div>
          <a href="#">Details</a>
        </div>
      </div>
    </div>
   
    <div class="container1">
      <div class="card">
        <div class="imgBx">
          <img src="{{url_for('static', filename='images/workshops/blockchain.png')}}">
        </div>
        <div class="contentBx">
          <h2>BlockChain</h2>
          <div class="size">
            <h3>Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
          </div>
          <div class="color">
          </div>
          <a href="#">Details</a>
        </div>
      </div>
    </div>


  </div>
  </div>
  

{% endblock %}